body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}


/* cabeçalho */


header {
    background-color: #bbbbbb;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* position: relative; */
    margin: 0 auto;
    padding: 0px;
}

.menu nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
}

nav {
    /* position: absolute; */
    top: 100px;
    right: 10px;
    width: 50%;
}

nav li {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 15px;
}

nav a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

/* Conteúdo da pagina home */

.fotoFundo {
    width: 100%;
}

.localizacao {
    padding: 3em 0 0.5em;
    text-align: center;
    background-color: #888888;
}

.sloganLocal {
    margin: 0 0 2em;
}

.video {
    width: 480px;
    margin: 1em auto 0;
}

.mapa {
    width: 80%;
}

/* main - home */

main {
    width: 100%;
    margin: 0 auto;
}

.principal {
    width: 70%;
    margin: 30px auto ;
    background-color: #fefefe;
}
.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.tituloPrincipal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.imagemPrincipal {
    width: 150px;
    float: left;
    margin: 0 20px 20px 0;
}

.beneficios {
    background: linear-gradient(#fefefe, #888888);
    margin: 0 auto;
}

.beneficiosItens {
    width: 60%;
    margin: 20px auto;
}

.imgBenef {
    width: 50%;
    margin: 0 auto;
    opacity: 1;
    transition: 600ms;
    box-shadow: 10px 10px 10px #000000;
}

.imgBenef:hover {
    opacity: .5;
}

.listaItens {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}

.itens:first-child{
    font-weight: bold;
}

.itens:before {
    content: "★";
}

/* Conteúdo da pagina produtos */

.produtos {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos img {
    width: 100%;
}

.produtos ul {
    display: flex;
    justify-content: space-between;
}

.produtos li {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #c78c19;
}

.produtos li:active {
    border-color: #088c19;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* Conteúdo da pagina contatos */


form {
    width: 50%;
    margin: 40px auto;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 10px auto;
}

.input-padrao {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    width: 100%;
}

fieldset select {
    margin: 15px 0 0;
}

.checkbox {
    margin: 20px auto;
}

.enviar {
    width: 40%;
    padding: 10px;
    margin: 10px auto;
    background-color: #b6b5b5;
    transition: .5s all;
    font-weight: bold;
    border-radius: 5px;
}

.enviar:hover {
    background-color: #ffa500;
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
}

table {
    width: 50%;
    margin: 20px auto;    
}

thead {
    background-color: #cccccc;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 5px 10px;
}


/* Rodapé */

footer {
    background: url("imagens/bg.jpg");
    text-align: center;
    padding: 40px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}

/* @media query para celulares */

@media screen and (max-width: 768px){
    /* HOME */
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu nav ul {
        display: flex;
        flex-direction: column;
    }
    .menu h1 {
        text-align: center;
    }
    nav {
        position: static;
        display: flex;
        margin: 10px auto;
        padding: 10px;
        justify-content: center;
    }
    .principal {
        width: 90%;
        margin: 20px 20px;
        padding: 5px;
    }
    .tituloPrincipal {
        font-size: 1.4em;
    }
    .beneficios {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .beneficiosItens {
        
    }
    .tituloPrincipal {
        margin: 30px 0;
    }
    .listaItens, .imgBenef {
        width: 100%;
        max-width: 480px;
    }
    /* PRODUTOS */
    .produtos ul {
        display: flex;
        flex-direction: column;
    }
    .produtos li {
        width: 50%;
        margin: 20px auto;
        padding: 30px auto;
    }
    /* CONTATOS */
    form {
        width: 80%;
    }
    .input-padrao {
        width: 80%;
    }
}